.container {
    display: flex;
    margin-top: 5px;
    /* background-color: rgb(102, 101, 101); */
    max-width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}