.tile {
    min-width: 24%;
    max-width: 24%;
    margin: 2px;
    padding: 5px;
    background-color: rgb(60, 59, 59);
    color: #EEE;
    height: 500px;
}

.tile-title {
    width: 100%;
    padding: 10px;
    height: 20px;

}

.image-container {
    display: inline-block;
    width: 100%;
    padding-left: 15px;
}

.imageContainer {
    width: 50%;
    height: 50%;
}