.tile {
    width: 285px;
    margin: 2px;
    /* margin-right: auto; */
    padding: 5px;
    background-color: #fefefe;
    height: 100%;
}

.tile-title {
    width: 95%;
    padding: 5px 0px 5px 10px;
    height: 47px;

}

.image-container {
    display: inline-block;
    width: 95%;
    padding-left: 15px;
}